.footer-context {
  position: relative;
  padding-bottom: 10%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4% 0;
  font-size: 0.7em;
  font-weight: 700;
  background-color: #3C3C3C;
  color: white;

  a {
    color: white;
  }
}
