<section class="sticky-footer" ng-show="active">
  <div class="container">
    <div class="row align-center">
      <!--
      <div class="small-4 columns text-center">
        <a class="hollow-button expanded dark all-caps" ng-href="{{vm.smsLink}}">
          Search
        </a>
      </div>
      -->
      <div class="small-12 columns text-center">
        <a class="button expanded all-caps" ng-href="{{smsLink}}">
          Text A Coach
        </a>
      </div>
    </div>
  </div>
</section>
