<section class="sticky-header"
  ng-show="active"
  ng-class="{ 'at-top': atTop, 'not-at-top': !atTop }"
>
  <div class="container">
    <div class="row align-center">
      <div class="small-3 columns text-left accent-text">
        Text us at 646-291-6384
      </div>
      <div class="small-6 columns text-center">
        <b>MoneyPeople</b>
      </div>
      <div class="small-3 columns text-right accent-text">
        <a class="search-button" ui-sref="main.search">
          <i class="material-icons">search</i>
          Search
        </a>
      </div>
    </div>
  </div>
</section>
