<section class="sticky-header"
  ng-show="active"
  ng-class="{ 'at-top': atTop, 'not-at-top': !atTop }"
>
  <div class="container">
    <div class="ask-area">
      <span class="show-for-medium">
        Text us at {{ $root.phoneNumberFormatted }}
      </span>
      <a class="hide-for-medium" ng-href="{{smsLink}}">
        ASK
      </a>
    </div>
    <div class="search-area">
      <a class="search-button" ui-sref="main.search">
        <i class="material-icons">search</i>
        <span class="show-for-medium">
          Search
        </span>
      </a>
    </div>
    <div class="row align-center">
      <div class="small-6 columns text-center"
        ui-sref="main.index"
      >
        <img class="logo" src="../../assets/images/DC-logo.png">
      </div>
    </div>
  </div>
</section>
