<div class="main-index">
  <div class="main-search footer-context"
    ng-class="{'search-is-empty': !vm.searchText.length}"
  >
    <div class="search-header">
      <div class="input-container">
        <a class="cancel-btn" ui-sref="main.index">cancel</a>
        <input type="text"
          ng-model="vm.searchText"
          placeholder="Start typing to search"
        />
      </div>
    </div>
    <div class="container topics-area" ng-if="!vm.searchText.length">
      <div class="row align-center">
        <div class="medium-7 small-12 columns text-center">
          <h3>Browse by topic:</h3>
          <a class="hollow-button dark with-icon all-caps"
            ng-click="vm.searchText='End of the month';"
          >
            <img class="icon" src="assets/images/emoji-icon-1.png" />
            END OF THE MONTH
          </a>
          <a class="hollow-button dark with-icon all-caps"
            ng-click="vm.searchText='Debt';"
          >
            <img class="icon" src="assets/images/emoji-icon-2.png" />
            DEBT
          </a>
          <a class="hollow-button dark with-icon all-caps"
            ng-click="vm.searchText='Budget';"
          >
            <img class="icon" src="assets/images/emoji-icon-3.png" />
            BUDGET
          </a>
          <a class="hollow-button dark with-icon all-caps"
            ng-click="vm.searchText='Stress';"
          >
            <img class="icon" src="assets/images/emoji-icon-4.png" />
            STRESS
          </a>
          <a class="hollow-button dark with-icon all-caps"
            ng-click="vm.searchText='Marriage';"
          >
            <img class="icon" src="assets/images/emoji-icon-5.png" />
            MARRIAGE
          </a>
          <a class="hollow-button dark with-icon all-caps"
            ng-click="vm.searchText='Tax Season';"
          >
            <img class="icon" src="assets/images/emoji-icon-6.png" />
            TAX SEASON
          </a>
          <a class="hollow-button dark with-icon all-caps"
            ng-click="vm.searchText='Small Business';"
          >
            <img class="icon" src="assets/images/emoji-icon-7.png" />
            SMALL BUSINESS
          </a>
        </div>
      </div>
    </div>
    <div class="container" ng-if="vm.searchText.length">
      <div class="row align-center">
        <div class="small-10 columns text-left">
          <div class="spinner light spin-cw slow infinite fade-in fade-out"
            ng-if="vm.pending"
          ></div>
          <div class="fade-in fade-out"
            ng-if="!vm.pending"
          >
            <div class="conversation"
              ng-repeat="convo in vm.conversations | limitTo: vm.limitTo"
            >
              <div class="message direction_in">
                <div class="person text-center">
                  <small><span class="all-caps">{{convo.user.name}}</span> in {{convo.user.city}}</small>
                </div>
                {{convo.summary_question}}
              </div>
              <div class="message direction_out summary">
                <div class="person text-center">
                  <small><span class="all-caps">{{convo.agent.name}}</span>, {{convo.agent.job_title}}</small>
                </div>
                <p>{{convo.teaser_answer}}</p>
                <a class="hollow-button dark expanded all-caps"
                  ui-sref="^.conversation({conversation_id: convo.id})"
                >
                  See Full Conversation
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-center">
        <div class="small-10 columns text-center">
          <!-- TODO: Implement results paging with API -->
          <a class="hollow-button teal all-caps"
            ng-show="vm.limitTo !== false"
            ng-click="vm.limitTo = false"
          >
            Show More Conversations
          </a>
        </div>
      </div>
    </div>
    <div footer></div>
  </div>
</div>
