<div class="main-index" scroll-fix>
  <div class="main-search footer-context"
    ng-class="{'search-is-empty': !vm.searchText.length}"
  >
    <div class="search-header">
      <div class="input-container">
        <a class="cancel-btn" ui-sref="main.index">cancel</a>
        <input type="text"
          ng-model="vm.searchText"
          auto-focus
          placeholder="Start typing to search"
        />
      </div>
    </div>
    <div class="container topics-area" ng-if="!vm.searchText.length">
      <div class="row align-center">
        <div class="medium-7 small-12 columns text-center">
          <h3>Browse by topic:</h3>
          <a class="hashtag-button dark with-icon"
            ng-click="vm.searchText='End of the month';"
          >
            #EndOfTheMonth
          </a>
          <a class="hashtag-button"
            ng-click="vm.searchText='Debt';"
          >
            #Debt
          </a>
          <a class="hashtag-button"
            ng-click="vm.searchText='Budget';"
          >
            #Budget
          </a>
          <a class="hashtag-button"
            ng-click="vm.searchText='Stress';"
          >
            #Stress
          </a>
          <a class="hashtag-button"
            ng-click="vm.searchText='Marriage';"
          >
            #Marriage
          </a>
          <a class="hashtag-button"
            ng-click="vm.searchText='Tax Season';"
          >
            #TaxSeason
          </a>
          <a class="hashtag-button"
            ng-click="vm.searchText='Small Business';"
          >
            #SmallBusiness
          </a>
        </div>
      </div>
    </div>
    <div ng-if="vm.searchText.length">
      <div class="container results-area">
        <div class="row align-center fade-in fade-out"
          ng-if="vm.pending"
        >
          <div class="small-10 columns text-center">
            <div class="spinner light spin-cw slow infinite"></div>
          </div>
        </div>
        <div class="row align-center fade-in fade-out"
          ng-if="!vm.pending"
        >
          <div class="small-10 medium-6 columns text-left"
            ng-repeat="convo in vm.conversations"
          >
            <div class="conversation"
              ui-sref="^.conversation({conversation_id: convo.id})"
            >
              <div class="message direction_in">
                <p>
                  {{convo.summary_question}}
                </p>
                <div class="person">
                  <small><span class="all-caps">{{convo.user.name}}</span> in {{convo.user.city}}</small>
                </div>
              </div>
              <div class="message direction_out summary">
                <p>
                  {{convo.teaser_answer}}
                </p>
                <div class="person">
                  <small><span class="all-caps">{{convo.agent.name}}</span>, {{convo.agent.job_title}}</small>
                </div>
              </div>
              <a class="read-more-button text-center all-caps"
                ui-sref="^.conversation({conversation_id: convo.id})"
              >
                See Full Conversation
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container call-to-action">
        <div class="row align-center">
          <div class="small-12 medium-8 columns text-center">
            <h4>
              Don't see what you're looking for?<br>Text us a money question now:
            </h4>
            <div style="padding-top: 0.5em;">
              <a class="button phone-number all-caps">
                {{ $root.phoneNumberFormatted }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div footer></div>
  </div>
</div>
