<div class="main-index">
  <div sticky-header scroll-target=".main-subview"></div>

  <div class="main-intro">
    <div class="container">
      <div class="row align-center">
        <div class="medium-7 small-9 columns text-center">
          <h1 class="text-center page-title">
            <b>MoneyPeople</b>
          </h1>
          <div>
            <img class="logo" src="assets/images/logo.png">
          </div>
          <h3>
            Hi, we're MoneyPeople.
          </h3>
          <h3>
            We provide expert advice to guide you through your financial goals, challenges, or other decisions.
          </h3>

          <div class="start-conversation">

            <!-- Desktop/tablet view show SMS form -->
            <div class="show-for-medium">
              <div ng-if="false">

                <div class="input-container">
                  <input type="text"
                    ng-model="vm.searchText"
                    placeholder="I'd like to know about..."
                  />
                  <div class="background">
                    <div style="text-align:center;">
                      <label>?</label>
                      &nbsp;
                      <!-- <span ng-hide="vm.searchText.length > 0">What can we help you with?</span> -->
                    </div>
                  </div>
                </div>

                <div class="input-container">
                  <input type="text"
                    ng-model="vm.phoneNumber"
                    placeholder="My phone number"
                  />
                  <div class="background">
                    <div style="text-align:center;">
                      <label>#</label>
                      &nbsp;
                      <!-- <span ng-hide="vm.phoneNumber.length > 0">(xxx) xxx-xxxx</span> -->
                    </div>
                  </div>
                </div>
              </div>

              Text a Coach at:
              <div style="padding-top: 0.5em;">
                <a class="button expanded all-caps">
                  <img class="chat-bubble" src="assets/images/icon-chat-bubble.png" />
                  (646) 291-6384
                </a>
              </div>
            </div>

            <!-- Mobile view direct-link to SMS -->
            <div class="hide-for-medium">
              <div>
                <a class="hollow-button green expanded all-caps" ng-href="{{vm.smsLink}}" ng-click="vm.startConversation()">
                  ASK US A MONEY QUESTION
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="main-subview" id="main-subview">
    <div class="container">
      <div class="row align-center">
        <div class="medium-4 small-12 columns text-center feature">
          <img class="icon" src="assets/images/icon-heart.png">
          <h3>We don't judge you.</h3>
          <p>No situation is surprising to us or should be embarassing for you.</p>
        </div>
        <div class="medium-4 small-12 columns text-center feature">
          <img class="icon" src="assets/images/icon-talk.png">
          <h3>We don't talk like bankers.</h3>
          <p>Money terms can get complex &mdash; we'll help you make sense of them.</p>
        </div>
        <div class="medium-4 small-12 columns text-center feature">
          <img class="icon" src="assets/images/icon-gift.png">
          <h3>We don't ask for money.</h3>
          <p>Our text messaging service is totally FREE. (But message and data rates may apply.)</p>
        </div>
      </div>
      <div class="row align-center topics-area">
        <div class="medium-4 small-12 columns text-center">
          <h3>Topics we get asked about a lot:</h3>
          <a class="hollow-button dark with-icon all-caps">
            <i class="material-icons">bug_report</i>
            END OF THE MONTH
          </a>
          <a class="hollow-button dark with-icon all-caps">
            <i class="material-icons">bug_report</i>
            DEBT
          </a>
          <a class="hollow-button dark with-icon all-caps">
            <i class="material-icons">bug_report</i>
            MARRIAGE
          </a>
          <a class="hollow-button dark with-icon all-caps">
            <i class="material-icons">bug_report</i>
            SMALL BUSINESS
          </a>
        </div>
      </div>
    </div>

  </div>

  <div sticky-footer scroll-target=".main-subview"></div>

  <div footer></div>
</div>
