<div class="main-index">
  <div class="main-intro">
    <div class="container">
      <div class="row align-center">
        <div class="small-7 columns text-center">
          <div>
            <img class="logo" src="assets/images/logo.png">
          </div>
          <h1>
            We are a network of <br />
            financial coaches providing<br />
            FREE money advice.
          </h1>
          <div>
            <a class="learn-more" href="#">
              LEARN MORE
            </a>
          </div>

          <div class="start-conversation">
            <div class="input-container">
              <input type="text"
                ng-model="vm.searchText"
                placeholder="I'd like to know about..."
              />
              <div class="background">
                <div style="text-align:center;">
                  <label>?</label>
                  &nbsp;
                  <!-- <span ng-hide="vm.searchText.length > 0">What can we help you with?</span> -->
                </div>
              </div>
            </div>

            <div class="input-container">
              <input type="text"
                ng-model="vm.phoneNumber"
                placeholder="My phone number"
              />
              <div class="background">
                <div style="text-align:center;">
                  <label>#</label>
                  &nbsp;
                  <!-- <span ng-hide="vm.phoneNumber.length > 0">(xxx) xxx-xxxx</span> -->
                </div>
              </div>
            </div>

            <div>
              <a class="button expanded all-caps" ng-href="{{vm.smsLink}}">
                <img class="chat-bubble" src="assets/images/icon-chat-bubble.png" />
                Text A Coach
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div footer></div>
  </div>

  <div class="main-subview" ui-view="subview"></div>

  <!--
  <div class="recent-questions">
    <div class="row">
      <div class="small-12 columns">
        <p align="center"><small>Filter by topic or search keywords or questions</small></p>
      </div>
    </div>

    <div class="row align-center">
      <div class="small-9 columns text-center">
        <div class="icon-btn"
          style="background-image: url(assets/images/icon-1.svg);"
        ></div>
        <div class="icon-btn"
          style="background-image: url(assets/images/icon-2.svg);"
        ></div>
        <div class="icon-btn"
          style="background-image: url(assets/images/icon-3.svg);"
        ></div>
        <div class="icon-btn"
          style="background-image: url(assets/images/icon-4.svg);"
        ></div>
        <div class="icon-btn"
          style="background-image: url(assets/images/icon-5.svg);"
        ></div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="question">
          <strong>Q:</strong><br />
          Question related to starting a business for the first time?<br />
          &mdash; Brooklyn NY
        </div>
      </div>
      <div class="small-6 columns">
        <div class="question">
          <strong>Q:</strong><br />
          Question related to starting a business for the first time?<br />
          &mdash; Brooklyn NY
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="question">
          <strong>Q:</strong><br />
          Question related to starting a business for the first time?<br />
          &mdash; Brooklyn NY
        </div>
      </div>
      <div class="small-6 columns">
        <div class="question">
          <strong>Q:</strong><br />
          Question related to starting a business for the first time?<br />
          &mdash; Brooklyn NY
        </div>
      </div>
    </div>
  </div>
  -->
</div>
