.main-index {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;

  @include breakpoint(medium down) {
    height: auto;
    min-height: 100vh;
    overflow: visible;
  }

  .page-title {
    padding: 20px 0;
  }

  .main-intro {
    position: relative;
    overflow: visible;
    width: 100%;
    height: auto;
    min-height: 100vh;

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      &, & a {
        color: $dark-text;
      }
    }

    .logo {
      padding: 8vh 0;
      max-width: 50%;
    }

    h1 {
      display: block;
      font-size: 1.8vw;
      margin-bottom: 0.25em;
      @include breakpoint(medium down) {
        font-size: 4.5vw;
      }
    }

    .learn-more {
      font-size: 0.8em;
      padding: 0.5em;
    }

    .start-conversation {
      padding: 6vh 0px 0;
      color: $dark-text;

      .input-container {
        position: relative;
        margin-bottom: 15px;
        border: 2px solid $accent-color;
        border-radius: 20px;
        background-color: white;

        .background {
          height: 2.4375rem; // input height

          label {
            position: absolute;
            line-height: 2.4375rem; // input height
            right: 0.5em;
            font-size: 1.5em;
            font-weight: bold;
            color: $accent-color;
          }
        }

        input {
          display: block;
          text-align: left;
          position: absolute;
          border: 0;
          margin: 0;
          padding: 0 2em 0 1em;
          outline: 0;
          background: none;
          color: $dark-text;
          appearance: none;
          box-shadow: none;

        }
      }

      .chat-bubble {
        width: 1em;
        margin-right: 0.5em;
      }
    }
  }

  .main-subview {
    position: relative;
    overflow: visible;
    width: 100%;
    height: auto;
    min-height: 100vh;

    .feature-row {
      padding: 3em 0;
      border-top: 1px solid $light-border;

      .feature {
        padding: 0 2em;

        .icon {
          width: 53px;
          padding: 0 0 1em;
        }
        h3 {
          color: $accent-color;
        }
      }
    }

    .topics-area {
      background-color: $soft-background;
      border-top: 1px solid $light-border;
      border-bottom: 1px solid $light-border;
      padding: 2em 0;
      .hollow-button.dark {
        border-color: $light-border;
      }
    }

    @include breakpoint(large up) {
      .uiview {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;

        &.ng-enter, &.ng-leave {
          position: absolute;
          left: 0;
          right: 0;
          -webkit-transition:all .5s ease-in-out;
            -moz-transition:all .5s ease-in-out;
            -o-transition:all .5s ease-in-out;
            transition:all .5s ease-in-out;
        }

        &.ng-enter {
          opacity: 0;
          -webkit-transform:translate3d(10%, 0, 0);
          -moz-transform:translate3d(10%, 0, 0);
          transform:translate3d(10%, 0, 0);
        }

        &.ng-enter-active {
          opacity: 1;
          -webkit-transform:translate3d(0, 0, 0);
          -moz-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
        }

        &.ng-leave {
          opacity: 1;
          -webkit-transform:translate3d(0, 0, 0);
          -moz-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
        }

        &.ng-leave-active {
          opacity: 0;
          -webkit-transform:translate3d(-10%, 0, 0);
          -moz-transform:translate3d(-10%, 0, 0);
          transform:translate3d(-10%, 0, 0);
        }
      }
    }
  }

  .main-search {
    padding-top: 10%;
    padding-bottom: 5em;
    h3 {
      color: $accent-color;
      margin-bottom: 40px;
    }

    .input-container {
      position: relative;
      margin-bottom: 40px;
      border: 0px solid transparent;
      border-radius: 5px;
      background-color: white;

      .background {
        height: 2.4375rem; // input height

        label {
          position: absolute;
          line-height: 2.4375rem; // input height
          left: 0.5em;
          font-size: 1.5em;
          font-weight: bold;
          color: $dark-text;

          .material-icons {
            vertical-align: middle;
          }
        }
      }

      input {
        display: block;
        text-align: left;
        position: absolute;
        border: 0;
        margin: 0;
        padding: 0 1em 0 2.5em;
        outline: 0;
        background: none;
        color: $dark-text;
        appearance: none;
        box-shadow: none;

      }
    }
  }

  .main-conversation {
    height: 100%;
    padding-top: 10%;
    padding-bottom: 5em;
    .conversation {
      margin: 2em 0;
      padding: 1em 0;
    }
  }
}
