.page-info-index {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;

  @include breakpoint(medium down) {
    height: auto;
    min-height: 100vh;
    overflow: visible;
  }

  .info-subview {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 2em;

    @include breakpoint(medium down) {
      position: relative;
      overflow: visible;
      width: 100%;
      height: auto;
      min-height: 100vh;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      &, & a {
        color: $dark-text;
      }
    }

    /* Any page that is text heavy, such as About or Privacy */
    .page-info {
      position: relative;
      padding-bottom: 30px;

      h1 {
        margin: 30px 0;
        text-align: center;

        font-family: sans-serif;
        font-size: 40px;
        font-weight: 100;
        color: $accent-color;
      }

      h2 {
        margin-bottom: 30px;

        font-family: sans-serif;
      }

      p, ul {
        font-weight: 100;

        font-family: sans-serif;
      }

    }

  }
}
