/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
$dark-background: #102D7D;
$soft-background: #FCFCFC;
$light-background: #FFF;
$light-border: #e5e5e5;
$dark-text: #3c3c3c;
$medium-text: #9B9B9B;
$accent-color: #61dd79;
$header-height: 91px;


@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@mixin sans-serif {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: 400;
}


/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
@import '../../bower_components/foundation-sites/scss/foundation';

// MOTION UI VARIABLES
$motion-ui-classes: (
  chain: true,
  prefix: 'ng-',
  active: '-active',
);

$motion-ui-states: (
  in: ('enter', 'hide-add'),
  out: ('leave', 'hide-remove'),
);

@import '../../bower_components/motion-ui/src/motion-ui';

// FOUNDAITON VARIABLES
$global-lineheight: 1.7;
$paragraph-lineheight: 1.7;
$button-background: $accent-color;
// $foundation-palette: (
//   primary: #00006F
// );


@include foundation-everything(true);
@include motion-ui-transitions;
@include motion-ui-animations;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.app-container, .app-container-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  @include breakpoint(medium down) {
    overflow: visible;
    height: auto;
    min-height: 100vh;
  }
}

body {
  background-color: $light-background;
  color: $dark-text;
  height: 100%;
  width: 100%;
  @include sans-serif;
}

.all-caps {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  @include sans-serif;
  font-weight: 700;
}

.accent-text {
  color: $accent-color;
}

.button {
  border-radius: 2.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.hollow-button {
  display: inline-block;
  border-radius: 2.5em;
  padding: 0.75em 1.25em;
  margin: 0 0 1rem 0;
  font-size: #{map-get($button-sizes, 'default')};
  vertical-align: middle;

  &.with-icon {
    // padding-right: 1.75rem;
  }

  &.expanded {
    display: block;
    text-align: center;
  }

  &.dark {
    border: 1px solid $dark-text;
    color: $dark-text;
    background-color: white;
  }

  &.green {
    border: 1px solid $accent-color;
    color: $accent-color;
  }

  &.light {
    border: 1px solid white;
    color: white;
  }

  .material-icons {
    vertical-align: middle;
  }

  .icon {
    vertical-align: top;
    margin-top: 3px;
    margin-right: 0.3em;
    height: 1.2em;
    width: auto;
  }

}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-100 {
  opacity: 1;
}


.spinner {
  display: block;
  z-index: 0;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.5em;
  margin-left: -1.5em;
  border: solid 3px;
  border-radius: 1000px;
  &.light {
    border-color: $light-background transparent;
  }
  &.dark {
    border-color: $dark-background transparent;
  }
  // @ include mui-animation(spin(in, 180deg));
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
